{% style %}
 .containerMySection{
   display:flex;
 }
 
 .beatleContainer{
  display:flex;
  gap:10px;
   background-color: purple;
 }

 
{% endstyle %}
{% assign beatles = "John, Paul, George, Ringo" | split: ", " %}
{% assign newBeat = beatles | slice: 0,2 %}
<div class="containerMySection">
  <h1 class="titleMySection">
  {{ section.settings.sectionMia | escape}}
</h1>
  {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            {%render 'extension-miSeccion',
            textHeading: block.settings.heading
            
            %}
            
             {% endcase %}
    {% endfor %}
</div>
<div>
{% for beatle in newBeat %}
  <div class="beatleContainer">
    <p>number {{forloop.index}}: </p>
      <p> {{ beatle }}</p>
  </div>
    {% endfor %}
  
</div>



{% schema %}
  {
    "name": "Mi Seccion",
    "settings": [
      {
        "id":"sectionMia",
        "type":"text",
        "label":"Escribe Algo"
    }
    ],
    "blocks": [
      {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "medium",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__2.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-banner.blocks.heading.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        },{
        "id":"Margen",
        "type":"text",
        "label":"Add margin to the top of the text on px"
    }

      ]
    }
    ],
    "presets" : [{
      "name": "Mi seccion"
      
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}